In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [8]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [10]:
iris = load_iris()

In [13]:
df = pd.DataFrame(iris.data , columns = iris.feature_names)
df['species'] = iris.target

In [15]:
df.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
77,6.7,3.0,5.0,1.7,1
122,7.7,2.8,6.7,2.0,2
68,6.2,2.2,4.5,1.5,1
13,4.3,3.0,1.1,0.1,0
31,5.4,3.4,1.5,0.4,0

In [17]:
X = df.drop('species' , axis = 1)
y = df['species']

In [18]:
model = RandomForestClassifier()

In [20]:
from sklearn.feature_selection import RFE

In [ ]:
rfe = RFE()